{% extends 'layout.html' %} {% block title %} Index {% endblock %} {% block css
%}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static',filename='styles/landing.css') }}"
/>
{% endblock %} {% block main %}
<section class="landing-container">
  <p>Games by Tier</p>
    <a href="{{ url_for('tier_S') }}" class="tier-s"><span>S Tier</span></a>
    <a href="{{ url_for('tier_A') }}" class="tier-a"><span>A Tier</span></a>
    <a href="{{ url_for('tier_B') }}" class="tier-b"><span>B Tier</span></a>
    <a href="{{ url_for('tier_C') }}" class="tier-c"><span>C Tier</span></a>
    <a href="{{ url_for('tier_D') }}" class="tier-d"><span>D Tier</span></a>
    <a href="{{ url_for('tier_E') }}" class="tier-e"><span>E Tier</span></a>
    <a href="{{ url_for('tier_F') }}" class="tier-f"><span>F Tier</span></a>
</section>
{% endblock %}
